* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
  resize: none;
}

html,
body {
  width: 100%;
  height: 100%;
}
html header,
body header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: yellow;
  padding: 12px;
  font-size: 20px;
  display: flex;
  z-index: 1;
  box-shadow: 2px 3px 5px grey;
}
html header img,
body header img {
  width: 3%;
  -o-object-fit: contain;
     object-fit: contain;
}
html header nav h1,
body header nav h1 {
  margin-left: 1rem;
  margin-top: 0.7rem;
}
html .title,
body .title {
  text-align: center;
  margin-top: 1.5em;
}
html .wrapper #login,
body .wrapper #login {
  margin-top: 10em;
  margin-left: 40em;
  display: block;
}
html .wrapper #login #loginUserError,
body .wrapper #login #loginUserError {
  color: red;
  font-weight: bold;
}
html .wrapper #login #loginPassError,
body .wrapper #login #loginPassError {
  color: red;
  font-weight: bold;
}
html .wrapper #login input,
body .wrapper #login input {
  width: 50%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 1em;
}
html .wrapper #login input[type=submit],
body .wrapper #login input[type=submit] {
  width: 50%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
html .wrapper #login input[type=submit]:hover,
body .wrapper #login input[type=submit]:hover {
  background-color: #45a049;
}
html .wrapper #login #changeTo:hover,
body .wrapper #login #changeTo:hover {
  text-decoration: underline;
  cursor: pointer;
}
html .wrapper #register,
body .wrapper #register {
  display: none;
  margin-top: 10em;
  margin-left: 40em;
}
html .wrapper #register input,
body .wrapper #register input {
  width: 50%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 1em;
}
html .wrapper #register input[type=submit],
body .wrapper #register input[type=submit] {
  width: 25%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
html .wrapper #register input[type=submit]:hover,
body .wrapper #register input[type=submit]:hover {
  background-color: #45a049;
}
html .wrapper #register .reset,
body .wrapper #register .reset {
  width: 25%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
html .wrapper #register #changeTo:hover,
body .wrapper #register #changeTo:hover {
  text-decoration: underline;
  cursor: pointer;
}
html .wrapper #register .invalid-feedback,
body .wrapper #register .invalid-feedback {
  color: red;
  font-weight: bold;
}
html .wrapper #register .alert-danger,
body .wrapper #register .alert-danger {
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  width: 50%;
  margin-left: 30rem;
}/*# sourceMappingURL=loginRegister.css.map */